In [1]:
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd
import shutil

In [9]:
embs = np.load('dataset/WW2020/baseline/embs_se101.npy')
names = np.load('dataset/WW2020/baseline/names_se101.npy')

In [3]:
kmeans = KMeans(n_clusters=20, random_state=0, n_init=100).fit(embs)

In [4]:
np.bincount(kmeans.labels_)

array([ 56,  46,  66,  64,  56, 115, 153,  38,  26,  96,  70,  54,  22,
        70,  37, 120,  45,  77,  60,  61])

In [11]:
df = pd.DataFrame()
df['names'] = names
df['clusters'] = kmeans.labels_

In [12]:
df

                  names  clusters
0        20200506_8.jpg         6
1       20200325_14.jpg        15
2       20200506_22.jpg        16
3       20200422_30.jpg         7
4       20200422_36.jpg         9
...                 ...       ...
1327  20200506_1790.jpg         6
1328  20200325_1793.jpg        19
1329  20200422_1795.jpg        17
1330  20200325_1796.jpg        18
1331  20200325_1799.jpg        15

[1332 rows x 2 columns]

In [13]:
df0 = df[df['clusters'] == 0]

In [14]:
img_path = '/home/AZA/PycharmProjects/competitions/cvppa2023/dataset/WW2020/images/'
save_path = '/home/AZA/PycharmProjects/competitions/cvppa2023/dataset/WW2020/clusters/'
for name in df0['names'].tolist():
    shutil.copy(img_path + name, save_path + name)

In [15]:
import os

In [19]:
for i in range(len(df['clusters'].unique())):
    os.makedirs(save_path + str(i), exist_ok=True)
    df0 = df[df['clusters'] == i]
    for name in df0['names'].tolist():
        shutil.copy(img_path + name, os.path.join(save_path, str(i), name))

In [20]:
df.to_csv('dataset/WW2020/cluster_se101.csv', index=False)